USE [master]
GO
/****** Object:  Database [Magazzino]    Script Date: 02/03/2021 10:24:12 ******/
CREATE DATABASE [Magazzino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Magazzino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Magazzino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino]
GO
/****** Object:  Table [dbo].[Magazzino]    Script Date: 02/03/2021 10:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazzino](
	[IDCode] [char](13) NOT NULL,
	[Descrizione] [varchar](50) NOT NULL,
	[Quantità] [int] NOT NULL,
	[Note] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpereazioniPossibili]    Script Date: 02/03/2021 10:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpereazioniPossibili](
	[IDOperazione] [int] NOT NULL,
	[Carico] [bit] NULL,
	[Descrizione] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOperazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoricoOperazioni]    Script Date: 02/03/2021 10:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoricoOperazioni](
	[IDEffettuazioniOperazioni] [int] IDENTITY(1,1) NOT NULL,
	[IDCode] [char](13) NOT NULL,
	[IDOperazion] [int] NOT NULL,
	[IDUtente] [int] NOT NULL,
	[Quantità] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEffettuazioniOperazioni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 02/03/2021 10:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Utente] [int] IDENTITY(1,1) NOT NULL,
	[Nome Utente] [char](30) NULL,
	[Passwd] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Utente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Magazzino]  WITH CHECK ADD  CONSTRAINT [FK_Magazzino_Magazzino] FOREIGN KEY([IDCode])
REFERENCES [dbo].[Magazzino] ([IDCode])
GO
ALTER TABLE [dbo].[Magazzino] CHECK CONSTRAINT [FK_Magazzino_Magazzino]
GO
ALTER TABLE [dbo].[StoricoOperazioni]  WITH CHECK ADD FOREIGN KEY([IDUtente])
REFERENCES [dbo].[Utenti] ([Utente])
GO
USE [master]
GO
